@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family:"Poppins",sans-serif;
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content-wrapper {
  max-width:1300px; 
  padding:0 1.25em;
  margin:0 auto;
}

#header a:link,
#header a:visited {
  color:#000;
  text-decoration:none; /* remove underline */
}

#site-name {
    font-size:2em;
    margin:1.125em 0;
    color: #2B0404;
    text-shadow: 2px 2px 5px #000;
}

#main-navigation {
    font-size:1.5em; /* 1.5em = 24px / 16px */
    font-family:"Poppins",sans-serif;
    text-transform:lowercase;
}
/* #main-navigation a:hover {
    color:var(--accent);
} */
#main-navigation .menu {
    gap:4.875em;
}
.menu {
    display: flex;
    list-style: none;
    /* padding: 0; */
}

.hero-text {
    color: #fff;
    background: url(../images/macarons_1.png) center center no-repeat;
    height:638px;
    display: flex;
    align-items: center;
}

.hero-text .content-wrapper {
    width: 100%;
    align-items: center;
}
.hero-text h1 {
    font-size: 4em;
    text-shadow: 4px 4px 20px #000;
    /* font-weight: 700; */
}

#footer {
    font-size:0.875em; /* 1.5em = 24px / 16px */
    font-family:"Poppins", sans-serif;
}

.button {
    font-family: "Poppins", sans-serif;
    font-size: 1.25em;
    background-color: #fff;
    color: #AD00FF;
    border: 3px solid #AD00FF;
    border-radius: 36px;
    text-transform: lowercase;
}

#copyright {
    font-family: "Poppins", sans-serif;
    font-size: 0.875em;
}